Button {
    /*-fx-max-width: MAX_VALUE;*/
    -fx-background-color: #0034d2;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}

.tab {
    -fx-padding: 5px 15px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab:selected {
    -fx-background-color: #0034d2;
}

.tab:selected .tab-label {
    -fx-text-fill: #fff;
}

.title {
    -fx-font-size: 28px;
}

.sub-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.menu-row {
    -fx-spacing: 10;
}

.menu-row HBox {
    -fx-spacing: 10;
}

/*.menu-row Label {
    -fx-font-size: 14;
}*/

Button.add-seat {
    -fx-start-margin: 30;
}

HBox.plane {
    -fx-spacing: 5;
}

HBox.plane > VBox {
    -fx-spacing: 5;
}

ToggleButton.selectSeatOption {
    -fx-min-width: 30;
}

.selected-seat {
    -fx-border-color: red;
}